* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --background: #f5f6fa;

  --primary: #373D4F;
}

body {
  background: var(--background);
}

body, button, textarea, input {
  color: var(--primary);
  font: 400 1rem "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: 0;
}

button:hover {
  cursor: pointer;
}


header{
  background-color: rgb(25, 37, 66);
  top: 0;
  width: 100%;
}

svg{
  margin-right: 25px;
  text-align: center;
  height: 60px;
}

.menu-items{
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: white;
}

.menu-logo, a{
  padding: 20px;
  margin-right: 0px;
  margin-left: -40px;
  display: flex;
  flex-wrap: wrap;
  color: white;
}

.informacoes{
  margin: 0 auto;
  width: 800px;
  background-color: rgb(227, 227, 230);
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  align-items: center;
}

.opcoes p, input{
  padding: 5px;
}


.container{
  margin: 0 auto;
  width: 800px;
  background-color: rgb(227, 227, 230);
  border-radius: 10px;
}

.itens{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px;
}

.item-1{
  padding: 50px;
  text-align: center;
  align-items: center;
  font-weight: bold;
}

p{
  cursor: pointer;
}

.select{
  padding: 50px;
  text-align: center;
  align-items: center;
  background-color: #c6c6c6;
  font-weight: bold;
}

.color-item{
  color: #009358;
}

.dataestimada{
  margin: 0 auto;
  width: 800px;
  background-color: rgb(227, 227, 230);
  border-radius: 10px;
  padding: 30px;
  margin-top: 10px;
}








